<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Bienvenido a (NOMBRE)

<h1>Mira la página de listas para ver puestos disponibles</h1>
</ion-content>
